# 依赖
node_modules
.pnp
.pnp.js

# 构建产物
dist
dist-ssr
*.local
*.tsbuildinfo

# 日志
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 编辑器/系统
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cesium 构建缓存（后续阶段使用）
.cesium
